{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="card shadow-sm">
            <p class="aligncenter">
                <img src="{{ prod.avatar }}" width=300>
            </p>
            <div class="card-body">
                <p class="card-text">{{ object.name }}</p>
            </div>
            <div class="d-grid gap-2 d-md-block">
                <a href="{% url 'advertising:list' %}" class="btn-btn-primary" type="button">back</a>
                <a href="{% url 'advertising:edit' object.pk %}" class="btn-btn-primary" type="button">edit</a>
                <a href="{% url 'advertising:delete' object.pk %}" class="btn-btn-primary" type="button">delete</a>
            </div>
        </div>
    </div>
</div>
<style>
    .aligncenter {
        text-align: center;
    }
</style>
{% endblock %}