{% extends 'catalog/index.html' %}
{% block content%}
<div class="row">
    <div class="col">
        <div class="card text-center">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if  object %}
                <button type="submit" class="bt-bt-success">save</button>
                {% else %}
                <button type="submit" class="bt-bt-success">create</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}